<div class="app-content">
    <div class="app-content-header">
      <h1 class="app-content-headerText">Roles</h1>
    </div>
    @if (puedeAgregar) {
      <div class="app-content-actions">
        <div class="app-content-actions-wrapper">
          <button class="app-content-headerButton" (click)="abrirFormulario()">Agregar usuario</button>
        </div>
      </div>
    }
    <app-table
      style="height: 90%;"
      [cabeceras$]="columnas$"
      [informacion$]="roles$"
      [mapeos]="mapeos"
      (btnEditar)="editarRegistro($event)"
    ></app-table>
  </div>