<div class="app-content">
    <div class="app-content-header">
        <h1 class="app-content-headerText">Roles</h1>
    </div>
    <div class="app-content-actions">
        <button class="text-white app-content-headerButton">Filtros</button>
        <div class="app-content-actions-wrapper">
            <button class="app-content-headerButton button-icon-right-fix">
                Agregar permiso
                <mat-icon
                    class="text-white p-0"
                >add_outline</mat-icon>
            </button>
        </div>
    </div>
    <div class="flex justify-center gap-1 h-full">
        <app-filters-extended 
            [fields]="filterFields"
            (searchHandler)="handleSearch($event)"
        ></app-filters-extended>
        <app-table
            class="w-full h-full"
            [cabeceras$]="cols$"
            [informacion$]="data$"
            [mapeos]="headers"
        ></app-table>
    </div>
</div>
