
<div class="h-full w-full max-h-full flex mx-auto my-0">
  <div class="max-w-48 bg-side-var flex flex-col">
    <div class="flex items-center justify-between p-4">
      <div class="text-side-main-color">
        <mat-icon class="material-symbols-outlined">fork_spoon</mat-icon>
      </div>
    </div>
    <ul class="list-none p-0">
      @for (item of items; track $index) {
        @if ((canSeeSection(item.roles) | async)) {
          <li
            class="sidebar-list-item"
            [ngClass]="activeModule === item.pathTo ? 'active' : ''">
            <button (click)="navigate(item.pathTo);" type="button" class="menu-item">
              <mat-icon class="material-symbols-outlined">{{ item.icon }}</mat-icon>
              <span>{{ item.name }}</span>
            </button>
          </li>
        }
      }
    </ul>
    <div class="account-info">
      <div class="info-container">
        <div class="profile-info">
          <div class="account-info-name">{{ (personInfo$ | async)?.names?? '' }}</div>
          <p class="account-range">{{ (personInfo$ | async)?.role?? '' }}</p>
        </div>
        <button class="account-info-more" (click)="logOut()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <router-outlet></router-outlet>
  </div>
</div>