<div class="data-container">
  <div class="products-area-wrapper tableView">
    <div class="products-header">
      @for (col of (cabeceras$ | async)?? []; track $index) {
        <div class="product-cell">{{ mapeos.get(col) }}</div>
      }
      <div class="product-cell">Acciones</div>
    </div>
    @for (valor of (informacion$ | async)?? []; track $index) {
      <div class="products-row">
        @for (clave of obtenerLlaves(valor); track $index) {
          @if (clave == 'estado') {
            <div class="product-cell status-cell">
              <span class="status {{ valor[clave] == 'A' ? 'active' : 'disabled' }}">{{ mapaEstados.get(valor[clave]) }}</span>
            </div>
          } @else {
            <div class="product-cell">
              {{ transformarValor(valor[clave], clave) }}
            </div>
          }
        }
        <div class="product-cell btn-container">
          <button class="app-content-headerButton btn-editar" (click)="botonEditar(valor)">Editar</button>
          <button class="app-content-headerButton btn-inactivar" (click)="botonInactivar(valor)">Inactivar</button>
        </div>
      </div>
    }
  </div>
  <app-paginador
    [registros]="15"
    [data]="informacion$"
    (cambioPagina)="refrescarInformacion($event)"
    style="height: 15%; width: 100%;"
  ></app-paginador>
</div>
