<div class="data-container">
  @if((info$ | async)?.length > 0) {
    <div class="products-area-wrapper tableView h-full max-h-[39rem]">
      <div class="products-header">
        @for (col of (headers$ | async)?? []; track $index) {
          <div class="product-cell">{{ headersMap.get(col) }}</div>
        }
        <div class="product-cell">Acciones</div>
      </div>
      @for (value of (filtered$ | async)?? []; track $index) {
        <div class="products-row">
          @for (key of getKeys(value); track $index) {
            @if (key == 'estado') {
              <div class="product-cell status-cell">
                <span class="status {{ value[key] == 'A' ? 'active' : 'disabled' }}">{{ mapaEstados.get(value[key]) }}</span>
              </div>
            } @else {
              <div class="product-cell">
                {{ transformValue(value[key], key) }}
              </div>
            }
          }
          <div class="product-cell btn-container">
            @if(canSee('editar')) {
              <button class="header-button btn-editar" (click)="handleEditBtn(value)"><ion-icon name="create-outline"></ion-icon></button>
            }
            @if(false) {
              <button class="header-button btn-inactivar" (click)="handleDeactivateBtn(value)">Inactivar</button>
            }
          </div>
        </div>
      }
    </div>
    <app-paginator class="w-full"
      [registros]="15"
      [data]="info$"
    ></app-paginator>
  }
  @else {
    <div
      class="h-full w-full border-8 border-solid rounded-3xl border-sidebarActive text-sidebarActive flex items-center justify-center">
      <span class="text-5xl text-center">No hay información aquí</span>
    </div>
  }
</div>
