<div class="data-container">
  @if((informacion$ | async)?.length > 0) {
    <div class="products-area-wrapper tableView h-full max-h-full">
      <div class="products-header">
        @for (col of (cabeceras$ | async)?? []; track $index) {
          <div class="product-cell">{{ mapeos.get(col) }}</div>
        }
        <div class="product-cell">Acciones</div>
      </div>
      @for (valor of (informacion$ | async)?? []; track $index) {
        <div class="products-row">
          @for (clave of obtenerLlaves(valor); track $index) {
            @if (clave == 'estado') {
              <div class="product-cell status-cell">
                <span class="status {{ valor[clave] == 'A' ? 'active' : 'disabled' }}">{{ mapaEstados.get(valor[clave]) }}</span>
              </div>
            } @else {
              <div class="product-cell">
                {{ transformarValor(valor[clave], clave) }}
              </div>
            }
          }
          <div class="product-cell btn-container">
            @if(puedeVer('editar')) {
              <button class="header-button btn-editar" (click)="botonEditar(valor)"><ion-icon name="create-outline"></ion-icon></button>
            }
            @if(false) {
              <button class="header-button btn-inactivar" (click)="botonInactivar(valor)">Inactivar</button>
            }
          </div>
        </div>
      }
    </div>
    <app-paginator class="w-full"
      [registros]="15"
      [data]="informacion$"
      (cambioPagina)="refrescarInformacion($event)"
    ></app-paginator>
  }
  @else {
    <div
      class="h-full w-full border-8 border-solid rounded-3xl border-sidebarActive text-sidebarActive flex items-center justify-center">
      <span class="text-5xl text-center">No hay información aquí</span>
    </div>
  }
</div>
