<!-- <div class="app-content">
    <div class="app-content-header">
      <h1 class="app-content-headerText">Ventas</h1>
    </div>
    <div class="app-content-actions">
      <input class="search-bar" placeholder="Search..." type="text">
      <div class="app-content-actions-wrapper">
        <button class="header-button" (click)="abrirFormulario()">Agregar venta</button>
      </div>
    </div>
    <app-table
      style="height: 90%;"
      [cabeceras$]="columnas$"
      [informacion$]="ventas$"
      [mapeos]="mapeos"
      [mapeosValores]="valores"
      (btnEditar)="editarRegistro($event)"
    ></app-table>
  </div> -->