<div class="main-container">
    <div class="screen-1 w-[75%] flex flex-row">
        <div class="w-1/2 py-28 px-8">
            <h3 class="text-white mb-5 font-bold text-4xl text-center">Iniciar sesión</h3>
            <form [formGroup]="loginForm" class="form-container">
                <app-text
                    class="w-full"
                    [label]="'Email'"
                    [type]="'text'"
                    [control]="loginForm.controls.username"
                    [isTransparent]="true"
                    [icon]="'mail_outline'"
                ></app-text>
                <app-text
                    class="w-full"
                    [label]="'Contraseña'"
                    [type]="'password'"
                    [control]="loginForm.controls.password"
                    [isTransparent]="true"
                    [icon]="'vpn_key_outline'"
                ></app-text>
                <button
                    class="btn-login"
                    [disabled]="procesandoLogin$ | async"
                    style="margin-bottom: 1em;"
                    (click)="ingresar()"
                >Ingresar</button>
            </form>
        </div>
        <div class="bg-action w-1/2 rounded-r-[2rem] py-14 px-8 flex flex-col justify-evenly align-center">
            <div class="flex justify-center items-center flex-col">
                <mat-icon class="material-symbols-outlined w-auto h-auto text-white text-5xl text-center">fork_spoon</mat-icon>
                <h3 class="text-white mb-5 font-bold text-4xl text-center">Gorenas App</h3>
            </div>
            <p class="text-white text-center text-2xl">Gestión administrativa y de los procesos financieros del restaurante Gorenas.</p>
        </div>
    </div>
</div>