* {
    font-family: "Poppins";
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: #151e2f;
    box-sizing: border-box;
}

.screen-1 {
    background: #101827;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #101827;
}

.screen-1 .logo {
    margin-right: auto;
    margin-left: auto;
}

.screen-1 .field {
    background-color: #101827;
    box-shadow: 0 0 2em #101827;
    padding: .7em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: white;
    width: 100%;
}

.screen-1 .field .sec-2 input {
    outline: none;
    border: none;
    background-color: #101827;
    color: white;
    width: 100%;
    font-size: .9em;
}

.sec-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;
}

.sec-2 ion-icon {
    font-size: 2em;
}

.screen-1 .field .sec-2 input::placeholder {
    color: white;
}


.screen-1 .field input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .field input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .field input::placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .field ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}

.screen-1 .password input {
    outline: none;
    border: none;
}

.screen-1 .password input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .password input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .password input::placeholder {
    color: black;
    font-size: 0.9em;
}

.screen-1 .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}

.screen-1 .password .show-hide {
    margin-right: -5em;
}

.screen-1 .btn-login {
    padding: 1em;
    background-color: #2869ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.screen-1 .btn-login:disabled {
    cursor: default;
    background: #5e5e5e;
}

.screen-1 .footer {
    display: flex;
    font-size: .9em;
    color: #5e5e5e;
    padding-bottom: 10em;
    cursor: pointer;
}

.screen-1 .footer span {
    transition: color 300ms;
}

.screen-1 .footer span:hover {
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .7em;
}

.form-container .field label {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

.eye-pass {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.eye-pass ion-icon {
    transition: color 300ms;
}

.form-container .field .eye-pass:hover ion-icon {
    color: white;
}

.eye-pass:hover {
    color: white;
}
