@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root {
    --error-color: #ba1a1a;
    --app-bg: #101827;
    --sidebar: rgba(21, 30, 47, 1);
    --sidebar-main-color: #fff;
    --table-border: #1a2131;
    --table-header: #1a2131;
    --app-content-main-color: #fff;
    --sidebar-link: #fff;
    --sidebar-active-link: #1d283c;
    --sidebar-hover-link: #1a2539;
    --action-color: #2869ff;
    --action-color-hover: #6291fd;
    --app-content-secondary-color: #1d283c;
    --filter-reset: #2c394f;
    --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --mat-switch-with-icon-handle-size: 1rem;
    --mdc-switch-track-height: 1.5rem;
    --mat-switch-pressed-handle-size: 1.25rem;
    --mdc-switch-state-layer-size: 1.5rem;
    --mdc-switch-track-width: 2.75rem;
    --mdc-filled-text-field-focus-label-text-color: var(--action-color)
}

.light:root {
    --app-bg: #fff;
    --sidebar: #f3f6fd;
    --app-content-secondary-color: #f3f6fd;
    --app-content-main-color: #1f1c2e;
    --sidebar-link: #1f1c2e;
    --sidebar-hover-link: rgba(195, 207, 244, 0.5);
    --sidebar-active-link: rgba(195, 207, 244, 1);
    --sidebar-main-color: #1f1c2e;
    --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

.line-error {
    width: 100%;
    height: 2px;
    background-color: var(--error-color);
}

.field-with-error {
    margin: 0;
    padding: 0;
    font-size: .9em;
    color: var(--error-color);
}

.data-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notification-snack-bar-container {
    margin: 0 !important;
}

.notification-snack-bar-container .mat-mdc-snackbar-surface {
    background-color: transparent !important;
    box-shadow: none !important;
    min-width: none;
    max-width: none;
}

.app-content {
    padding: 16px;
    background-color: var(--app-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.app-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px;
}

.app-content-actions-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.app-content-headerButton {
    @apply bg-action text-white text-base border-none rounded-md h-8 px-4 transition duration-200 cursor-pointer flex items-center gap-1;
}

.app-content-headerButton:hover {
    @apply bg-actionHover;
}

.button-icon-left-fix {
    @apply pl-2 pr-4;
}

.button-icon-right-fix {
    @apply pl-4 pr-2;
}

.mdc-text-field--filled {
    border-radius: .5rem!important;
    padding-right: 0!important;
    height: 3rem!important;
}

.mdc-text-field--filled:hover {
    background-color: white!important;
}

.mdc-text-field--filled .mat-mdc-form-field-focus-overlay {
    background-color: white!important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white!important;
}

.mat-mdc-button-touch-target {
    width: 2rem!important;
    height: 2rem!important;
    padding: 0!important;
}

.mdc-text-field--filled .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix .mat-datepicker-toggle 

.mdc-text-field--filled .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix {
    padding: 0!important;
}

.mdc-text-field--filled .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    width: auto!important;
    padding-bottom: 0!important;
}

.mdc-text-field--filled .mat-mdc-form-field-flex {
    height: 100%!important;
    align-items: center!important;
}

.mat-datepicker-content {
    background-color: white!important;
}

.mdc-text-field--filled .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix .mat-datepicker-toggle .mdc-icon-button {
    color: gray!important;
}

.mat-mdc-form-field-icon-suffix,
.mat-mdc-form-field-icon-prefix {
    color: gray!important;
}

.mat-mdc-form-field-icon-suffix button .mat-icon {
    padding: 0!important;
    margin: 0!important;
    width: 1.5rem!important;
}

.mat-mdc-form-field-icon-prefix .mat-icon {
    padding: 0 .5rem!important;
    margin: 0!important;
    width: 1.5rem!important;
}

.mat-mdc-form-field-icon-prefix {
    padding: 0!important;
}

.mat-mdc-select-arrow svg {
    top: 0!important;
    left: 0!important;
}

.mat-mdc-select-value {
    font-size: .9rem!important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid:not(.mdc-text-field--disabled):hover .mdc-floating-label {
    color: #ba1a1a!important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mat-mdc-notch-piece {
    border-width: 0;
}

.mat-mdc-input-element {
    box-shadow: none!important;
    font-size: .9rem!important;
}

.mat-mdc-form-field-icon-suffix {
    padding-right: .5rem!important;
}

.mat-pseudo-checkbox-minimal {
    margin: 0!important;
}

.mat-mdc-select-panel {
    border-radius: .5rem!important;
}

.cdk-overlay-pane {
    width: auto!important;
}

.mat-mdc-option .mat-icon {
    padding: 0!important;
}

.mat-mdc-option.mdc-list-item {
    gap: .3rem;
}

mat-form-field.transparent .mat-mdc-text-field-wrapper {
    background-color: transparent!important;
}

mat-form-field.transparent:not(.mat-focused):not(.mat-form-field-invalid) .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix .mdc-floating-label {
    color: lightgray!important;
}

mat-form-field.transparent .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix .mat-mdc-select {
    color: white;
}

mat-form-field.mat-focused .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix {
    color: var(--action-color)!important;
}

mat-form-field.mat-form-field-invalid .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-icon-prefix {
    color: var(--error-color)!important;
}

mat-form-field.transparent .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix .mat-mdc-input-element {
    color: white;
}
