::ng-deep.mat-icon {
    width: 1.5rem!important;
}

::ng-deep.mat-mdc-input-element {
    box-shadow: none!important;
}

::ng-deep.mat-mdc-form-field-icon-suffix {
    padding-right: .5rem!important;
}

::ng-deep.mat-mdc-form-field-icon-suffix button .mat-icon {
    padding: 0!important;
    width: 1.5rem!important;
}

::ng-deep.mat-mdc-input-element {
    font-size: .9rem!important;
}
